@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #23A6F0;
  --text-color: #252B42;
  --secondary-text-color: #737373;
  --light-text-color: #FFFFFF;
  --hover-color: #2A7CC7;
  --disabled-color: #8EC2F2;
  --muted-color: #BDBDBD;
  --success-color: #2DC071;
  --alert-color: #E77C40;
  --danger-color: #E74040;
  --bg: #f9fbff;
  --footer-bg: #1b2749;
  --font-family-base: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--font-family-base);
  color: var(--text-color);
  background: var(--bg);
  line-height: 1.4;
}

h1 {
  font-family: var(--font-family-base);
  font-weight: 900;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

h2 {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

h3 {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

h4 {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

h5 {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

h6 {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.btn-text {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.mobile-menu {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.2px;
}

.paragraph {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.list-text {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.link-text {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--primary-color);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}